<h1>All Departments</h1>

<table [hidden]="hideDepartments" class="table table-striped">
  <thead class="thead-dark">
    <th>Id</th>
    <th>Name</th>
  </thead>
  <tbody>
    <tr *ngFor="let department of departments">
      <td>{{ department.id }}</td>
      <td>{{ department.name }}</td>
    </tr>
  </tbody>
</table>