<h1>All Employees</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <th>Id</th>
    <th>Name</th>
    <th>Salary</th>
    <th>Department</th>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.salary }}</td>
      <td>{{ employee.department.name }}</td>
    </tr>
  </tbody>
</table>